<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ningyu.system.warehouse.mapper.WarehouseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.ningyu.system.warehouse.entity.WarehouseEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="status" property="status"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, status, description, create_time, create_user, update_time, update_user, del_flag
    </sql>

    <!-- 分页查询角色列表 -->
    <select id="selectList" resultType="io.ningyu.system.warehouse.entity.WarehouseEntity"
            parameterType="io.ningyu.system.warehouse.entity.WarehouseEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_sys_warehouse
        WHERE del_flag = 0
        <if test="warehouse.id != null and warehouse.id != ''">
            AND id = #{warehouse.id}
        </if>
        <if test="warehouse.name != null and warehouse.name != ''">
            AND name = #{warehouse.name}
        </if>
        <if test="warehouse.code != null and warehouse.code != ''">
            AND code = #{warehouse.code}
        </if>
        <if test="warehouse.status != null and warehouse.status != ''">
            AND status = #{warehouse.status}
        </if>
        ORDER BY id DESC
    </select>

</mapper>
